#container {
    display: grid;
    grid-template-columns: 22px 22px;
    grid-template-rows: 22px 22px 22px;
}

.box-base {
    border-color: crimson;
    border-style: solid;
    border-width: 2px;
    height: 20px;
    width: 20px;
}

.box-base:hover {
    background-color: crimson;
}

.trail {
    background-color: crimson;
}