#container {
    display: grid;
    border-color: black;
    border-style: solid;
    height: 480px;
    width: 480px;
}

.box {
    border-color: black;
    border-style: solid;
}

.box:hover {
    background-color: crimson;
}

.trail {
    background-color: black;
}